@keyframes moveBg {
    0% {
        background-position: 0% 0%;
    }
    50% {
        background-position: 100% 0%;
    }
    100% {
        background-position: 0% 0%;
    }
}

* {
    font-family: 'Montserrat', sans-serif;
}

.bg {
    animation: moveBg 55s ease infinite;
    background-image: url(bg.png);
    background-position: bottom;
    background-repeat: no-repeat;
    height: 100vh;
    background-size: 250% 100%;
}

top {
    height: 100vh;
}

* {
    font-size: 1.25rem;
}

header {
    background: rgba(255, 255, 255, 0);
    backdrop-filter: blur(14px);
    -webkit-backdrop-filter: blur(14px);
    transition: 0.3s;
}

header:hover {
    transition: 0.3s;
}

span {
    filter: brightness(150%);
    font-weight: 500 !important;
    background: #121fcf;
    background: linear-gradient(to left, #121fcf 0%, #00bacf 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}


#primeiro {
    justify-items: center;
}

.card {
    border: none !important;
    transition: 0.5s;
    text-align: center;
    background: transparent !important;
}

.card:hover {
    transition: 0.5s;
    scale: 1.02;
    background: rgba(45, 45, 45, 0.5) !important;
}

h2 {
    text-align: center;
}

#portfolio .card:hover h5 {
    transition: 0.2s;
    filter: brightness(150%);
    width: 100%;
    font-size: 3.5rem !important;
    font-weight: 500;
    background: #121fcf;
    background: linear-gradient(to left, #121fcf 0%, #00bacf 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

#feedbacks img {
    width: 10rem;
}

#NOlogo {
    filter: invert(1);
}

#grid1 {
    width: 100%;
}

aside.col {
    margin: 0 !important;
    padding: 0 !important;
}

#navbar2 {
    width: 100vw;
    height: 4rem;
    background: black;
    z-index: 2000;
}

ul {
    list-style-type: none;
}

footer li:hover {
    background: #121fcf;
    font-weight: 700;
    width: fit-content;
    background: linear-gradient(to left, #121fcf 0%, #00bacf 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.btn-outline-info:hover {
    border: transparent;
    font-weight: 500 !important;
    background: linear-gradient(to left, #121fcf 0%, #00bacf 100%);
}

#toTop {
    transition: 0.4s;
    filter: opacity(0.75);
    z-index: 2;
    position: fixed;
    right: 30px;
    bottom: 30px;
    height: 45px;
    width: 45px;
    padding: 0.25rem 0 0 0;
}

#toTop:hover::after {
    line-height: 200%;
    font-size: 0.8rem;
    content: 'Início';
}

#img1 {
    filter: brightness(500%);
    height: 1.5rem;
    width: 1.5rem;
    padding: 0;
}

#hero {
    width: 95vw;
    border-radius: 5rem;
    border: solid 1px rgba(178, 178, 178, 0.2);
    background-color: rgba(0, 0, 0, 0.25);
}

.bg-2 {
    background-position: middle;
    background-image: url(bg-big.png);
    background-size: cover !important;
    background-repeat: no-repeat;
}

/* The flip card container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
.flip-card {
    background-color: transparent !important;
    width: 300px;
    height: 400px;
    perspective: 1000px; /* Remove this if you don't want the 3D effect */
}

/* This container is needed to position the front and back side */
.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.5s;
    transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front,
.flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
}

/* Style the back side */
.flip-card-back {
    border-radius: 100%;
    color: white;
    transform: rotateY(180deg);
}

.botao-card {
    width: 50%;
}

p.card-text {
    color: white !important;
}

.card-img-top {
    padding: 1rem;
    height: 200px;
}

.reveal {
    position: relative;
    transform: translateY(150px);
    opacity: 0;
    transition: 1s all ease;
}

.reveal.active {
    transform: translateY(0);
    opacity: 1;
}
