html {
    scroll-behavior: smooth;
}

* {
    font-family: 'Poppins', sans-serif;
}

.navbar {
    height: 4rem;
}

a.nav-link:hover,
.navbar-brand:hover {
    color: #9af0ff !important;
}

.redes {
    z-index: 99;
    padding: 1rem;
    height: auto;
}

.card-text {
    text-align: center;
}

.cardContainer {
    overflow-x: auto !important;
    white-space: nowrap;
}

.card {
    margin: 1rem;
    white-space: normal;
}

.card:hover {
    scale: 1.01;
    box-shadow: 0 0 1rem 0.1px rgba(100, 100, 100, 0.5);
}
.navbar-brand {
    font-size: 1.5rem !important;
}

.navbar * {
    font-size: 1.2rem;
    font-weight: bold;
    color: white !important;
}

.redes p {
    margin: 0;
    font-size: 1.2rem;
}

.redes-img {
    margin-right: 0.5rem;
    margin-left: 3rem;
    width: 2.5rem;
    filter: invert(50%) sepia(100%);
}

#logo {
    width: 3rem;
    margin-right: 1rem;
    filter: invert(1);
}

#headerSticky {
    z-index: 4;
    height: 4rem;
    width: 100%;
    background-color: #1fa4bc;
}

#chat {
    z-index: 100;
    position: fixed;
    top: 50%;
    right: 30px;
    height: 50px;
    width: 50px;
}

#chat:hover {
    filter: contrast(120%);
}

#img-chat {
    margin-top: 2px;
    width: 30px;
    height: 30px;
    filter: invert(1);
}

.redes a:hover {
    filter: contrast(200%);
}

.navbar-toggler {
    border: none !important;
    filter: invert(1) brightness(500%);
    margin-bottom: 0.5rem;
}

.cardContainer a {
    height: 0;
    display: inline-block;
    color: white;
    margin: 14px;
    text-decoration: none;
}

.card img {
    width: 300px;
    padding: 35% 25% 10% 25%;
}

.navbar-collapse {
    transition: none !important;
}

.navbar-collapse.show {
    height: 100vh;
    justify-content: center !important;
    transition: 1.5s cubic-bezier(0.58, 0.3, 0.005, 1) !important;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;

    background: rgba(31, 164, 188, 0.9);
    display: flex;
    width: 100%;
}

#navbarNavDropdown {
    > li {
        opacity: 0;
    }
}

.navbar-collapse.show li {
    transition: 0.8s cubic-bezier(0.58, 0.3, 0.005, 1);
    opacity: 1;
    padding: 0;
    margin-bottom: 20px;
}

.show ul li {
    font-size: 2rem;
    padding: 0;
    &:nth-child(1) {
        transition-delay: 0.75s;
    }
    &:nth-child(2) {
        transition-delay: 0.6s;
    }
    &:nth-child(3) {
        transition-delay: 0.5s;
    }
    &:nth-child(4) {
        transition-delay: 0.25s;
    }
}

.nav-link.dropdown-toggle::after {
    transition: 0.2s;
}
.nav-link.dropdown-toggle.show::after {
    transition: 0.2s;
    transform: rotate(-180deg);
}

.card:active {
    border: solid 3px rgba(31, 164, 188, 0.9);
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.required::after {
    font-family: 'Poppins', sans-serif;
    margin-left: 0.2rem;
    color: red;
    content: '*';
}

.img-footer {
    width: 2.5rem;
    filter: invert(50%) sepia(100%);
    filter: none;
}

footer {
    padding: 3rem;
}

.copyright {
    margin-top: 2rem;
    text-align: center;
}

.card img {
    filter: contrast(50%);
}

footer a:hover {
    filter: contrast(25%);
}

#toTop {
    transition: 0.4s;
    filter: opacity(0.75);
    z-index: 99;
    position: fixed;
    right: 30px;
    bottom: 30px;
    height: 45px;
    width: 45px;
    padding: 7px 0 0 0;
}

#toTop:hover::after {
    font-family: 'Poppins', sans-serif;
    color: black;
    line-height: 200%;
    content: 'Início';
}

#img1 {
    filter: invert(1);
    height: 30px;
    width: 30px;
    padding: 0;
}

.card-title {
    scale: 1.2;
    color: #1fa4bc !important;
    margin-bottom: 1rem !important;
}

strong {
    color: #4fcee5;
}

.row * {
    width: auto !important;
}

#logoPrincipal {
    filter: invert(1);
}

#sorrirTexto {
    color: white;
    text-align: end;
    font-size: 3rem;
    align-self: center;
}

.topText {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 98vw;
    z-index: 99;
}

.card:hover {
    background-color: #1fa4bc !important;
    transition: 0.3s;
}

.card:hover img {
    filter: opacity(0);
}

.card:hover .card-title {
    transition: 0.3s;
    font-weight: 700;
    scale: 1.3 !important;
    transform: translateY(-2.5rem);
}

.card:hover p {
    display: none;
}

.card:hover::after {
    position: absolute;
    font-size: 2rem;
    top: 40%;
    left: 22%;
    content: 'Saiba Mais';
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: #4fcee5;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
    cursor: grabbing !important;
}

.reveal {
    position: relative;
    transform: translateY(150px);
    opacity: 0;
    transition: 1s all ease;
}

.reveal.active {
    transform: translateY(0);
    opacity: 1;
}

.btn-info {
    border: none !important;
    background-color: #1fa4bc !important;
}
.btn-info:hover {
    border: none !important;
    background-color: #25c5e2 !important;
}

.btn-info span {
    opacity: 0;
    font-size: 0;
}

.btn-info:hover span {
    font-size: larger;
    margin-left: 0.2rem;
    transition-delay: 0.2s;
    opacity: 100% !important;
    transition: 0.4s !important;
}

.btn-info:active span {
    transition: 3s;
    transform: translateX(30px);
}

.btn-info:active {
    background-color: #4fcee5 !important;
}

input:focus,
select:focus {
    border: solid 1px #00d9ff !important;
    box-shadow: none !important;
}

input:valid {
    transition: 0.4s;
    border: solid 2px #00d9ff !important;
    float: inline-end;
    content: 'Ok';
}

textarea:focus {
    border: solid 3px #00d9ff !important;
    box-shadow: none !important;
}

.eapps-widget-toolbar {
    display: none;
}
.eapps-widget-toolbar-panel-wrapper {
    display: none;
}

.eapps-instagram-feed-posts-view {
    justify-content: center !important;
    gap: 1rem;
}

a[style='animation:none!important;background-color:rgba(238,238,238,0.9)!important;border:none!important;bottom:auto!important;color:rgba(0,0,0,.5)!important;display:inline-flex!important;align-items:center!important;gap:6px!important;float:none!important;height:28px!important;left:50%!important;margin:8px auto!important;opacity:1!important;padding:6px!important;position:relative!important;right:auto!important;top:auto!important;transform:translateX(-50%)!important;zoom:1!important;visibility:visible!important;box-sizing:border-box!important;border-radius:6px!important;font-family:Roboto,Arial,Sans-serif!important;font-size:12px!important;font-weight:700!important;line-height:16px!important;text-align:left!important;text-decoration:none!important;max-width:240px!important;text-indent:0!important;z-index:99999!important;margin-top:20px!important'] {
    scale: 0;
}

.text-cor {
    color: #00d9ff !important;
}

section p {
    text-align: justify;
}

.img-tratamentos {
    padding: 1rem;
    border: solid 1px #00d9ff;
    display: block;
    margin: auto;
}

input,
textarea,
select {
    border: none !important;
}

#Depoimentos .carousel-item {
    height: 15rem;
}

#Equipe .carousel-item {
    height: 400px;
}

#Depoimentos {
    background-color: rgba(0, 217, 255, 0.1);
}

.carousel-indicators button {
    background-color: #25c5e2 !important;
}

.dropdown-item {
    color: black !important;
}
.dropdown-menu {
    border: none !important;
}

.img-principal .carousel-caption h5 {
    padding: 0.75rem;
    box-shadow: 0 2px 0 0 #4fcee5 ;
    color: #00d9ff !important;
    font-weight: 600;
    font-size: 2rem;
}

.img-principal .carousel-caption p {
    color: white;
    font-size: 1.5rem;
}

#conquistas p {
    margin: 0;
}

#conquistas h2 {
    margin: 0;
    font-weight: bold;
    color: #00d9ff;
}

#conquistas img {
    margin-top: 1rem;
}

.img-principal .carousel img {
    height: 95vh !important;
    object-fit: cover !important;
}

.tratamentos section {
    padding-top: 5rem;
    height: 100% !important;
}

.list-group {
    margin: auto;
    width: 75% !important;
    border: 0 !important;
    gap: 0.5rem !important;
}

.list-group-item {
    font-weight: bold;
    box-shadow: 0 0.1rem 0.6rem #eee;
    border: none !important;
    padding: 1rem !important;
    border-radius: 1rem !important;
}

.list-group-item.active {
    scale: 1.05 !important;
    background-color: #00d9ff !important;
}

.unidade h2 {
    color: #00d9ff;
    font-weight: bold;
}

.unidades section {
    height: 100%;
}

.unidade h2 {
    width: 20vw;
}

.dropdown-item.active,
.dropdown-item:active {
    color: var(--bs-dropdown-link-active-color);
    text-decoration: none;
    background-color: #00d9ff !important;
}

.btn.btn-outline-info:hover img {
    filter: grayscale(1) brightness(2) !important;
}

.btn.btn-outline-info:hover,
.btn.btn-outline-info:active {
    color: white !important;
}
.btn.btn-outline-info:active {
    background-color: #1fa4bc !important;
}

.eapps-instagram-feed-popup-inner {
    padding-bottom: none !important;
}